<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
</head>
<body>
    <div class="container mt-5 text-center">
        <h1>Bienvenido a Nikos Pizza!</h1>
        <p>Inicio de sesión exitoso.</p>
    </div>
</body>
</html>
