@{
    ViewData["Title"] = "Inicio";
}

<body class="index-page">

    <header id="header" class="header d-flex align-items-center fixed-top">
        <div
            class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                 <img src="assets/img/log" alt=""> 
                <h1 class="sitename">Nikos Pizza</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="#" class="active">Inicio</a></li>
                    <li><a href="#services">Servicos</a></li>
                    <!--<li><a href="#pricing">Precios</a></li>-->
                    <li class="dropdown"><a href="#"><span>Menu</span> <i
                                class="bi bi-chevron-down toggle-Menu"></i></a>
                        <ul>
                            <li class="dropdown"><a href="#"><span>Deep menu</span> <i
                                        class="bi bi-chevron-down toggle-menu"></i></a>
                                <ul>
                                    <li><a href="Pizzas/ListarPizzas?codigo=02">Pizzas Famillares</a></li>
                                    <li><a href="Pizzas/ListarPizzas?codigo=01">Pizzas Personales</a></li>
                                    <li><a href="#">Combos</a></li>
                                    <li><a href="#">Pizzas Personalidadas</a></li>
                                    <!-- <li><a href="#">Deep Dropdown 5</a></li>-->
                                </ul>
                            </li>
                            <!-- <li><a href="#">Pizzas Famillares</a></li>-->
                            <!--<li><a href="#">Pizzas Personales</a></li>-->
                            <!---<li><a href="#">Combos</a></li>-->
                        </ul>
                    </li>
                    <!--<li><a href="#contact">Contactos</a></li>-->
                    <li><a href="#contact">Acerca de Nosotros</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <head>
                <!-- Agrega este enlace para cargar Bootstrap Icons -->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css" integrity="sha512-..." crossorigin="anonymous" />
            </head>
            <i class="bi bi-cart4 cart-icon"></i>
               <style>
                .cart-icon {
                    font-size: 24px; 
                    color: #333; 
                    padding: 10px; 
                    transition: transform 0.2s; 
                }

                    .cart-icon:hover {
                        transform: scale(1.2); 
                        color: #555; 
                        border-color: #555; 
                    }
               </style>
            <a class="btn-getstarted" href="index.html#about">Inicio Sesión</a>
        </div>
    </header>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://z-p3-scontent.flim4-2.fna.fbcdn.net/v/t39.30808-6/264439390_119489787221083_793614291377048273_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeEgqg69j-DH5QQsZbH2CUrfIj8ayJoO_i0iPxrImg7-LaF4-c2IeLJkAPmKbfFjtKIz0lyuQyYQBVsvKkiCyjP0&_nc_ohc=6QC4oa7329gQ7kNvgHrWie5&_nc_zt=23&_nc_ht=z-p3-scontent.flim4-2.fna&_nc_gid=AjF37tAo-y-Fg0952vQP3su&oh=00_AYDNLIuFigSrGWfJ29aPEnOBrb585oII1SoYGESH5v2hag&oe=6738588C">
        <link rel="preconnect" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRllJ_yT5yyvXCC_5G1XXAo4WFY0OSPqL6-EQ&s" crossorigin>
        <link href="https://z-p3-scontent.flim4-3.fna.fbcdn.net/v/t39.30808-6/357008573_274737951738302_3384724398961171597_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeHPjsKenhEL-LYV4WZZkLPqDIq52Prj1ocMirnY-uPWh5S844qP7gopasnNa2-7uGkswQNWnXR8h9GrjAqQRmal&_nc_ohc=KKopNxEaL2QQ7kNvgFK4Adv&_nc_zt=23&_nc_ht=z-p3-scontent.flim4-3.fna&_nc_gid=AY2Ewi69bo0y_RBMgJR84ia&oh=00_AYD_KGsC0DutvmJRdOts1hpqEyq0_J1URL0-j4lcDM9qQg&oe=67386546" rel="stylesheet">
        <title>@ViewData["Title"]</title>
        <style>
            * {
                padding: 0;
                margin: 0;
            }

            .oswald {
                font-family: "Oswald", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
            }

            body {
                background-color: #88efd0;
            }

            .wrapper {
                width: 100%;
                height: 100vh;
                display: grid;
                place-content: center;
            }

            .container {
                position: relative;
                width: 600px;
                height: 300px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                gap: 10px;
                transition: all .3s ease-in-out;
            }

            .card {
                position: relative;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                cursor: pointer;
                transition: transform 0.3s ease, filter 0.3s ease;
            }

            .card-1 {
                background: url(https://z-p3-scontent.flim4-2.fna.fbcdn.net/v/t39.30808-6/264439390_119489787221083_793614291377048273_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeEgqg69j-DH5QQsZbH2CUrfIj8ayJoO_i0iPxrImg7-LaF4-c2IeLJkAPmKbfFjtKIz0lyuQyYQBVsvKkiCyjP0&_nc_ohc=6QC4oa7329gQ7kNvgHrWie5&_nc_zt=23&_nc_ht=z-p3-scontent.flim4-2.fna&_nc_gid=AjF37tAo-y-Fg0952vQP3su&oh=00_AYDNLIuFigSrGWfJ29aPEnOBrb585oII1SoYGESH5v2hag&oe=6738588C) center center no-repeat;
                background-size: cover;
                filter: grayscale(1);
                transition: all .3s ease-in-out;
            }

            .card-2 {
                background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRllJ_yT5yyvXCC_5G1XXAo4WFY0OSPqL6-EQ&s) center center no-repeat;
                background-size: cover;
                filter: grayscale(1);
                transition: all .3s ease-in-out;
            }

            .card-3 {
                background: url(https://z-p3-scontent.flim4-3.fna.fbcdn.net/v/t39.30808-6/357008573_274737951738302_3384724398961171597_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeHPjsKenhEL-LYV4WZZkLPqDIq52Prj1ocMirnY-uPWh5S844qP7gopasnNa2-7uGkswQNWnXR8h9GrjAqQRmal&_nc_ohc=KKopNxEaL2QQ7kNvgFK4Adv&_nc_zt=23&_nc_ht=z-p3-scontent.flim4-3.fna&_nc_gid=AY2Ewi69bo0y_RBMgJR84ia&oh=00_AYD_KGsC0DutvmJRdOts1hpqEyq0_J1URL0-j4lcDM9qQg&oe=67386546) center center no-repeat;
                background-size: cover;
                filter: grayscale(1);
                transition: all .3s ease-in-out;
            }

            .card-4 {
                background: url(https://z-p3-scontent.flim4-3.fna.fbcdn.net/v/t39.30808-6/340995628_726106185970972_8606348689428200191_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEqFRxDqJFNJmixJ8szKfn89HQZtyiNYfP0dBm3KI1h8-rAzdrNUibwM4nsN4h-lNTaNAOP9QpYQi_xaZSIAU3m&_nc_ohc=xIQsaBsCXGcQ7kNvgEZEbUX&_nc_zt=23&_nc_ht=z-p3-scontent.flim4-3.fna&_nc_gid=ARWGO4jMzPO1KXfElv8vh-k&oh=00_AYB8dYnt7rFfiVPRY55Narfur2eCycXjWM3xs0PJS72ZFg&oe=67388986) center center no-repeat;
                background-size: cover;
                filter: grayscale(1);
                transition: all .3s ease-in-out;
            }

            .card-5 {
                background: url(https://z-p3-scontent.flim4-2.fna.fbcdn.net/v/t39.30808-6/356417923_273130798565684_8584876856964621577_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeGJ22ng52aJgaHv1iHU-6CMNASVK9UA6JE0BJUr1QDokSSeV-Ml3iIfoRmZ8DUq8cJnkUy_uE04II0Gyw9DN3ae&_nc_ohc=29zSyo2kK7oQ7kNvgH3fzlN&_nc_zt=23&_nc_ht=z-p3-scontent.flim4-2.fna&_nc_gid=A-ERAcLIlRJfxi05a-6uGBo&oh=00_AYDRsbl10ZTzFMlvz0vuETRAygL9UcZ7jJf6MokJ_hdUxA&oe=673877AD) center center no-repeat;
                background-size: cover;
                filter: grayscale(1);
                transition: all .3s ease-in-out;
            }

            .card:nth-child(odd) {
                transform: translateY(10px);
            }

            .card:nth-child(even) {
                transform: translateY(-10px);
            }

            .card::after {
                content: "";
                background-color: rgba(0, 0, 0, 0.6);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: all .3s ease-in-out;
            }

            .card_content {
                position: absolute;
                top: 100%;
                left: 0;
                color: #fff;
                transition: all .3s ease-in-out;
            }

            .name, .group {
                font-family: "Oswald", sans-serif;
                text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
            }

            /* Expansión de la tarjeta cuando se pasa el cursor */
            .card-expanded {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 9999;
                transform: scale(1);
                background-size: contain;
            }

                .card-expanded img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            /* Animaciones para las tarjetas */
            .card:hover {
                transform: scale(1.05);
                box-shadow: rgba(0, 0, 0, 0.7) 0px -50px 80px inset;
                filter: grayscale(0);
            }

                .card:hover .card_content {
                    font-family: Arial;
                    position: absolute;
                    top: 150px;
                    left: 20px;
                    color:#ffffff;
                }

                .card:hover::after {
                    opacity: 0;
                }

            .container:has(.card-1:hover) {
                grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
            }

            .container:has(.card-2:hover) {
                grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
            }

            .container:has(.card-3:hover) {
                grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
            }

            .container:has(.card-4:hover) {
                grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
            }

            .container:has(.card-5:hover) {
                grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
            }

        </style>
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <div class="card card-1">
                    <div class="card_content">
                        <h1 class="name">DULCE TENTACION</h1>
                        <h4 class="group">las mas vendidas</h4>
                    </div>
                </div>

                <div class="card card-2">
                    <div class="card_content">
                        <h1 class="name"> PEPERONI</h1>
                        <h4 class="group">las mas vendidas</h4>
                    </div>
                </div>

                <div class="card card-3">
                    <div class="card_content">
                        <h1 class="name">BISABOR</h1>
                        <h4 class="group">las mas vendidas</h4>
                    </div>
                </div>

                <div class="card card-4">
                    <div class="card_content">
                        <h1 class="name">FRUTAS</h1>
                        <h4 class="group">las mas vendidas</h4>
                    </div>
                </div>

                <div class="card card-5">
                    <div class="card_content">
                        <h1 class="name">HAWAINA</h1>
                        <h4 class="group">las mas vendidas</h4>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>
</body>
